<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("f7fef914-1f3d-403a-ad8b-72de15c61e70");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
